#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    /* witdh of image container */
    flex-basis: 35%;

    & img {
        width: 100%;
        border-radius: 15px;
    }
}

/* width of 2nd column 60% the extra 5% is the gap */
.about-col-2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}